* {
    box-sizing: border-box;
}

body {
    background: #fb6b6b;
    font-family: "Recursive", sans-serif;
}

.root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

button,
ion-icon {
    cursor: pointer;
}

.home {
    height: 100vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.home img {
    height: 90px;
}

.home h1 {
    color: white;
    font-weight: bold;
    font-size: 46px;
    font-family: "Righteous", cursive;
    margin-bottom: 100px;
}

.home button,
select,
option,
input {
    width: 220px;
    height: 50px;

    background: #ffffff;
    border: 1px solid #d70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Recursive";
    font-weight: 400;
    font-size: 19px;
    line-height: 14px;
    text-align: center;

    color: #fa5555;
}

.home button.locked {
    color: #c0c0c0;
    background: #e8e8e8;
    border: none;
    box-shadow: none;
}

select,
option,
input {
    height: 40px;
    font-size: 15px;
    text-align: left;
    padding-inline: 5px;
    color: gray;
    border: none;
    box-shadow: none;
}

input {
    padding-inline: 10px;
    color: #fa5555;
}

input::placeholder {
    color: gray;
}

.flash-card {
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 95px;
}

header {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

header h1 {
    font-weight: bold;
    color: white;
    font-weight: 400;
    font-size: 36px;
    line-height: 31px;
    font-family: "Righteous", cursive;
}

header img {
    height: 42px;
    margin-right: 7px;
}

main {
    width: 100%;
    padding-inline: 20px;
}

.card {
    padding-inline: 10px;
    background: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11);
    position: relative;
}

.card.close p {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}

.bad {
    color: #ff3030;
}

.ok {
    color: #ff922e;
}

.good {
    color: #2fbe34;
}

.card.close.bad,
.card.close.good,
.card.close.ok {
    text-decoration: line-through;
    font-weight: 400;
}

.card ion-icon {
    font-size: 32px;
    --ionicon-stroke-width: 35px;
    padding-right: 5px;
}

.close.ok ion-icon {
    font-size: 34px;
}

.card.open ion-icon {
    font-size: 24px;
}

.card.open,
.card.end {
    height: 130px;
    background: #ffffd5;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 25px;
    /* flex-direction: column; */
}

.card.end {
    flex-direction: column;
    justify-content: space-between;
}

.button-box {
    height: 55px;
    width: 100%;
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.button-box button {
    flex: 1;
    font-family: "Recursive", sans-serif;
    border-radius: 5px;
    border: none;
    color: white;
}

.button-box button:nth-child(1) {
    background: #ff3030;
}

.button-box button:nth-child(2) {
    background: #ff922e;
}

.button-box button:nth-child(3) {
    background: #2fbe34;
}

.card.open ion-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

footer {
    height: 90px;
    width: 100%;
    left: 0px;
    background: white;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
}

footer .counter {
    font-size: 19px;
}

footer.finished {
    padding-top: 10px;
    height: 230px;
    gap: 15px;
}

footer.finished .counter {
    text-align: center;
    max-width: 260px;
}

footer.finished .counter h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer.finished .counter p {
    font-size: 19px;
}

footer .status {
    display: flex;
    align-items: center;
    font-size: 26px;
}

footer .status .ok {
    font-size: 30px;
}

footer button {
    font-family: "Recursive", sans-serif;
    font-size: 15px;
    background: #fb6b6b;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 240px;
    border: none;
}

@media (min-width: 768px) {
    .flash-card {
        width: 768px;
    }
}
